#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.login-form-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border: 4px solid #8B4513;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #FFD700;
  font-weight: bold;
}

label {
  color: #FFD700;
  font-weight: bold;
}

input {
  background-color: #333;
  color: #FFD700;
  border: 2px solid #8B4513;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

input:focus {
  border-color: #FFD700;
}

.login-form-container p {
  color: #FFD700;
}

.login-form-container a {
  color: #FFD700;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.login-form-container a:hover {
  color: #fff;
}

.text-danger {
  color: #FF4500;
  font-weight: bold;
}

.bestiary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #FFD700; 
}

.filter-form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #FFD700; 
}

.filter-form input,
.filter-form select {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFD700;
  border: 1px solid #FFD700;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}

button {
  background-color: #800000;
  color: #FFD700;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a50000;
}

.monster-list {
  width: 100%;
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #FFD700; 
}

th, td {
  border: 1px solid #FFD700;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #800000; 
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  background-color: #800000;
  color: #FFD700;
  border: 1px solid #FFD700;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #a50000;
}

.pagination-controls button.active {
  background-color: #FFD700;
  color: #800000;
  font-weight: bold;
}

.monster-list table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.7); 
}

.monster-list th, .monster-list td {
  padding: 10px;
  text-align: left;
  border: 1px solid #FFD700;
  color: #FFD700; 
}

.monster-list thead {
  background-color: rgba(128, 0, 0, 0.9); 
}

.monster-list tbody tr:hover {
  background-color: rgba(128, 0, 0, 0.8); 
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clickable-row:hover {
  background-color: rgba(128, 0, 0, 0.8); 
}

.monster-details {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 5px;
  color: #FFD700;
}

.creature-details {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.9); 
  border-radius: 8px;
  border: 2px solid #FFD700; 
  color: #FFD700;
}

.creature-details h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FFD700;
}

.creature-details strong {
  color: #FFD700;
}

.creature-details p, 
.creature-details ul {
  font-size: 1.2rem;
  color: #ffffff;
}

.creature-details ul {
  list-style-type: none;
  padding: 0;
}

.creature-details li {
  margin-bottom: 10px;
}

.back-button {
  background-color: #800000;
  color: #FFD700;
  border: 2px solid #FFD700;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #a50000;
}

.search-input {
  width: 275px !important; 
  padding: 10px; 
  border-radius: 5px; 
  border: 1px solid #ccc;
}

.search-container {
  background-color: rgba(0, 0, 0, 0.7); 
  border: 2px solid gold; 
  padding: 20px;
  border-radius: 10px; 
  width: 1000px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap;
  margin-bottom: 20px; 
}

.search-container div {
  margin-bottom: 10px;
  flex: 1; 
  min-width: 200px; 
  margin-right: 10px; 
}

.filter-form {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  gap: 20px; 
}

.filter-form input, .filter-form select {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ffcc00;
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 5px;
  color: #8d8d8d;
}

.filter-form button {
  padding: 10px 20px;
  background-color: #C5160D; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 0 0 auto; 
}

.search-container label {
  font-weight: bold;
  color: #ffcc00;
  display: block;
  margin-bottom: 5px;
}