@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  background-color: #000;
  background-image: url('./assets/images/DMLogo.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #000;
  color: #fff;
}

footer {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #FFD700; 
}

a {
  color: #FFD700;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

button {
  background-color: #8B0000 !important;
  color: #FFD700 !important;
  border: 2px outset #FFD700 !important;
  border-radius: 10px !important;
  padding: 10px !important;
  font-weight: bold !important;
  width: 100% !important;
  transition: all 0.3s ease !important;
}

button:hover {
  background-color: #A52A2A !important;
  color: #fff !important;
  transform: scale(1.05) !important;
}

.custom-nav-link {
  color: rgb(212, 212, 212) !important;
}

.nav-link.active {
  color: gold !important;
}

.nav-link:hover {
  color: #fff !important; 
}